<body>
    <nav>
        <ul>
            <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
            <li><a href="/admin/users" class="<%= path === '/admin/users' ? 'active' : '' %>">Users</a></li>
        </ul>
    </nav>
