h2 {
    text-align: center;
    color: #FFC090;
}

ol {
    text-transform: uppercase;
    margin-left: 10em;
}

ol li {
    list-style-type: circle;
    margin-bottom: 0.25rem;
    color: #7FB77E;
    font-weight: bold;
}